* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1E3D3;
    text-align: center;
    color: #D88C9A;
    text-shadow: 0 0 1rem #f7a1b1e8;
    
}

h1 {
    font-size: 10vmin;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
  
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #8E7DBE;
  background-color: #99C1B9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #F2D0A9;
  color: #8E7DBE;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #F2D0A9;
    color: #8E7DBE;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #D88C9A;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }

  .hide {
    display: none;
  }